*.json
*.zip
*.csv
.DS_Store
code/data/trial_en
code/data/__pycache__/shinra_utils.cpython-36.pyc
code/__pycache__/model.cpython-36.pyc
code/__pycache__/preprocess.cpython-36.pyc
code/__pycache__/model.cpython-38.pyc
code/__pycache__/preprocess.cpython-38.pyc
code/data/__pycache__/shinra_utils.cpython-38.pyc
